.metadata
.metadata/*
.settings
.settings/*
Jersey/RestWebServices/.settings
Jersey/RestWebServices/.settings/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
Spring/SpringFramework/.classpath
Spring/SpringFramework/target
Spring/SpringFramework/target/*
