.metadata
.metadata/*
.settings
.settings/*
Jersey/RestWebServices/.settings
Jersey/RestWebServices/.settings/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
Spring/SpringFramework/.classpath
Spring/SpringFramework/target
Spring/SpringFramework/target/*
Spring/SpringFramework/.classpath
Spring/SpringFramework/.project
Spring/RESTfulWebServices/.classpath
Spring/RESTfulWebServices/.project
Spring/RESTfulWebServices/target
Spring/RESTfulWebServices/target/*
Spring/RESTfulWebServices/bin
